@using Northwind.Models
@model IEnumerable<Category>

<div class="list-group">
    @foreach (Category c in Model)
    {
        <a class="list-group-item list-group-item-action" asp-action="CategoryDetail" asp-controller="Product" asp-route-id="@c.CategoryId">@c.CategoryName - @c.Description</a>
    }
</div>
