@using Northwind.Models;
@model CategoryViewModel;

@if (Model.product.Count() == 0)
{
    <p>There are no products</p>
}
else
{
    <ul>
        @foreach (Product product in Model.product)
        {
            <li>
                @product.ProductName
            </li>
        }
    </ul>

    
}