<style>
    .card {
        -webkit-box-shadow: 0px 0px 15px -15px #000000;
        box-shadow: 0px 0px 15px -15px #000000;
    }

    .card:hover {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        -webkit-box-shadow: 0px 0px 15px 0px #cf942f;
        box-shadow: 0px 0px 15px 0px #cf942f;
        border-radius: 15px;
        cursor: pointer;
    }
</style>

@section scripts {
<script>
    $(() => {
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        });
        getProducts();
        function getProducts() {
            $.getJSON({
                url: `../../api/product/`,
                success: function (res, status, jqXhr) {
                    let output = "Error grabbing products...";
                    let products_container = $('#products');
                    
                    if (res.length == 0) {
                        output = `
                            <div class="col py-2">
                                <div class="card mx-auto" style="width: 18rem;">
                                    <div class="card-body">
                                        There was a problem loading the products...
                                    </div>
                                </div>
                            </div>
                        `;
                        products_container.html(output);
                    } else {
                        for (let i = 0; i < res.length; i++) {
                            let product = res[i];
                            output = `
                                <div class="col py-2">
                                    <div class="card mx-auto" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">${product.productName}</h5>
                                            <h6 class="">${formatter.format(product.unitPrice)}</h6>
                                            <span style="" class="review-stars" id="review-${product.productId}" data-rating="${product.averageRating}" data-interactive="false">
                                                <i class="far fa-star rate-popover" data-value="2"></i>
                                                <i class="far fa-star rate-popover" data-value="4"></i>
                                                <i class="far fa-star rate-popover" data-value="6"></i>
                                                <i class="far fa-star rate-popover" data-value="8"></i>
                                                <i class="far fa-star rate-popover" data-value="10"></i>
                                            </span>
                                            <span>
                                                (${product.ratingCount})
                                            </span>
                                            <a href="/Product/ProductDetail/${product.productId}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            `;
                            products_container.append(output);

                            setStars($(`#review-${product.productId}`), product.averageRating);
                        
                        }
                        hideSpinner();
                    }
                },
                error: function (jqXHR, status, err) {
                    console.log("Error while getting products: " + status, err);
                    hideSpinner();
                }
            });
        }
    });

    function hideSpinner() {
        let spinner = $('#loading');
        spinner.removeClass('d-flex');
        spinner.addClass('d-none');
    }
</script>
}

<div class="Container">
    <h2>Products</h2>
    <hr>
    <div id="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="products" class="row">
        @* Product Cards Injected *@
    </div>
</div>
