/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Oswald', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Rating Component Styles */

.review-stars {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.review-stars i {
    padding: 0;
    margin: 0;
    border: none;
    width: 18px;
}

#review-new i {
  font-size: 20px;
}


/* Discontinued Product Style */

.discontinued {
  opacity: .5;
}

#product_rows tr {
cursor: pointer;
}

/* Animated Accordian Chevron */

.animated-icon {
  transition: 0.4s;
}

.rotate {
  transform: rotate(180deg);
}

/* Add To Cart */

.add-to-cart-button:hover {
  background-color: white;
  border: solid #0366d6 2px;
}

.add-to-cart-button:hover i {
  color: #1B6EC2;
}

/* Toast */

.toast {
  border: #A9A9A9 solid 1px;
  animation: 0.5s ease 0s 1 toast;
  -webkit-box-shadow: 0px 0px 50px -20px #000000; 
  box-shadow: 0px 0px 50px -20px #000000;
  transition: 0.5s;
}
@keyframes toast {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast:hover {
  transition: 0.5s;
  transform: translateX(-10%);
}

/* Progress Bar Animations */

.progress {
  border-radius: 0;
  background-color: white;
  margin: 0;
}

.progress-bar-countdown {
  animation: progressbar-countdown;
  animation-duration: 9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes progressbar-countdown {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
  
}

.progress-bar-persistant {
  width: 100%;
  animation: progressbar-persistant 1.5s infinite;
  animation-direction: alternate-reverse;
}
@keyframes progressbar-persistant {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/* Helpers */

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}