@model Northwind.Models.Customer

<h4>Customer Registration</h4>
<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="@Model.CompanyName">Enter Company Name: </label>
    <input asp-for="@Model.CompanyName" placeholder="Company Name" />
    <button type="submit">Create</button>
</form>

<hr />
<a asp-controller="Home" asp-action="Index">Home</a>

